:host {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  display: block;
  background: #fff;
  padding: 20px;
  font-family: verdana;
  font-size: 14px;
  min-height: 100vh;
}

h1 {
  margin-bottom: 30px;
}

.category {
  font-size: 10px;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  background: #777;
  padding: 0 3px 1px;
  margin-bottom: 10px;
}

.description {
  font-size: 12px;
}

.content {
  display: flex;
}

.image {
  padding-right: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.to-whishlist {
  color: #fff;
  background: rgb(46, 130, 255);
  border: none;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;

  &.selected {
    color: inherit;
    background: inherit;
    border: 1px solid #ccc;
  }
}
